<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS} %-6level) [%X{traceId:-}%X{trace_id:-}|%X{spanId:-}%X{span_id:-}] [%X{request.method:-} %X{request.uri:-}] %logger{6} - %msg%n"/>

    <!-- Appender to log to console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <!-- activate to log to file and console -->
    <springProfile name="log_file">
        <springProperty scope="context" name="springAppName" source="spring.application.name"/>
        <property name="LOG_FILE" value="${LOG_DIRECTORY:-target}/${springAppName}"/>
        <appender name="log_file" class="ch.qos.logback.core.FileAppender">
            <file>${LOG_FILE}.log</file>
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="log_file"/>
        </root>
    </springProfile>

    <!-- activate to log to file and console -->
    <springProfile name="json_log_file">
        <property name="applicationName" value="${GLOBAL_APPLICATION_NAME}"/>
        <springProperty scope="context" name="serviceName" source="spring.application.name"/>
        <property name="LOG_FILE" value="${LOG_DIRECTORY:-target}/${serviceName}"/>
        <appender name="json_log_file" class="ch.qos.logback.core.FileAppender">
            <file>${LOG_FILE}.log</file>
            <encoder class="co.elastic.logging.logback.EcsEncoder">
                <serviceName>${applicationName}</serviceName>
                <serviceNodeName>${serviceName}</serviceNodeName>
                <stackTraceAsArray>true</stackTraceAsArray>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="json_log_file"/>
        </root>
    </springProfile>

    <springProfile name="!(json_log_file | log_file)">
        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

    <logger name="com.zenika.tutoriels" level="DEBUG" />
</configuration>